@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('theme.css');
@import url('landing.css');
@import url('contact.css');
@import url('project.css');
@import url('overview.css');
@import url('features.css');
@import url('background.css');

@font-face {
    font-family:"KATFYRED";
    src: url("fonts/KATFYRED.ttf") format("truetype");
}

* {
    font-family: "Abel", monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: white;
    text-align: center;
}

.root {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
    padding: 5vw;
    margin: 1px;
    margin-top: 100px;
    margin-bottom: 100px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.hide {
    opacity: 0;
    transition: ease-in 0.1s;
}
.show {
    opacity: 1;
    transition: ease 2.3s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.root::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.root {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}