html, body{margin: 0;  padding: 0; height: 100%; text-align: center;}
section{min-height: 100%;}
a{text-decoration: none;}
li{list-style-type: none;}
h1, h2, h3, a{font-family: 'Inter', sans-serif;  font-weight: 500;  color: #494949;  /*text-transform: uppercase;*/}
h2{color: #5d7177;}
h3{font-size: 40px; padding-top: 8%;margin-bottom: 5px;}
hr{width: 300px;height: 5px;background: #494949;border: 0;margin: 0 autoL 40 auto;}

/**---HEADER-------------------*/
header{
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
#logo{
  width: 140px;
  float: left;
  margin: 10px 0 0 50px;
}
#logo:hover{
  transition: all 400ms;
  opacity: 0.5;
  cursor: pointer;
}
#logo img{
  width: 100%;
}
header nav{
  float: right;
  margin: 10px 50px 0 0;
}
header nav ul li{
  float: left;
  margin-right: 25px;
}
header nav ul li:hover{
  transition: all 100ms;
  padding-top: 3px;
}
header nav ul li:active{
  transition: all 300ms;
  padding-bottom: 30px;
}
header nav ul li a{
  font-size: 16px;
}
/**---HOME-------------------*/

#home{
  opacity: 1.0;
  background: url(../img/UnityBookOfTheDead.gif);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 0 0 0;
}
.splash-video {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
}

#home h2{
  text-align: center;
  padding: 250px 0;
  font-family: 'Inter';  font-weight: normal;  color: white;
  text-shadow: 2px 2px 3px #000;
}
